@tailwind base;
@tailwind components;
@tailwind utilities;

    /* @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("./fonts/roboto/Roboto-Bold.ttf") format('woff2');
    } */
  